/** @format */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    background: rgba(255, 255, 255, 0.575);
    box-shadow: 0 0px 10px 0 rgba(183, 188, 255, 0.37);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    font-size: larger;
    padding: 5px;
    color: black;
    font-weight: 800;
    margin-bottom: 30px;
}

.heading {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 1em;
}

.content {
    font-size: 1em;
    padding: 0.5em 1em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    background-color: #5894fb;
    border-radius: 0.5em;
    margin: 0.25em 0.5em;
    border: 1px solid #5894fb;
    color: #fff;
}

.two_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}