/** @format */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    width: 90%;
    max-width: 600px;
    padding: 0.5em;
    border: 1px solid rgb(50, 50, 50);
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    margin: auto;
}

.heading {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 1em;
}

.content {
    font-size: 1em;
    padding: 0.5em 1em;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 1em;
    background-color: #5894fb;
    border-radius: 0.5em;
    margin: 0.25em 0.5em;
    border: 1px solid #5894fb;
    color: #fff;
}

.two_buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
}