/** @format */

.nav {
  background-color: rgb(34, 34, 34);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(50, 50, 50);
  border-radius: 0px 0px 0px 0px;
  padding: 20px;
}
