/** @format */

.footer {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  border-top: 2px solid rgb(50, 50, 50);
  background-color: rgb(34, 34, 34);
  color: #fff;
  width: 100%;
}
